.about-body {
  display: flex;
  width: 100%;
  position: relative;
  flex-direction: column;
  background-image: url(../images/bg.webp);
  background-size: contain;

  .top-banner-box {
    padding-top: 3vw;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    height: 30vw;
    @media all and (max-width: 1024px) {
      height: initial;
    }
    @media all and (max-width: 500px) {
      padding-top: 12vw;
    }
    .top-banner {
      width: 100%;
      @media all and (max-width: 1024px) {
        margin-top: -10vw;
      }
      @media all and (max-width: 500px) {
        margin-top: -8vw;
      }
    }

    .item1 {
      position: absolute;
      width: 50vw;
      left: 8vw;
      top: 1.5vw;
      @media all and (max-width: 1024px) {
        width: 119vw;
        left: -51vw;
        top: -7.5vw;
      }
      @media all and (max-width: 500px) {
        top: -4.5vw;
      }
    }

    .item2 {
      position: absolute;
      width: 9vw;
      right: 0vw;
      top: 7vw;
      @media all and (max-width: 1024px) {
        display: none;
      }
    }

    .frame {
      width: 32vw;
      position: absolute;
      top: 56%;
      left: 50%;
      transform: translate(-50%, -50%);

      @media all and (max-width: 1024px) {
        width: 80vw;
        top: 59.5%;
      }
    }

    .main-title-box {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 52%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      text-align: center;
      @media all and (max-width: 1024px) {
        top: 55%;
      }
      @media all and (max-width: 500px) {
        top: 56%;
      }
      .main-title-zh {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        margin-top: 2vw;
        margin-bottom: 0.5vw;
        @include bannerZHTitle();
        @media all and (max-width: 1024px) {
          margin-top: 3vw;
        }
      }

      .main-title-en {
        position: relative;
        @include bannerENTitle();
        text-align: center;
        &::before {
          position: absolute;
          content: "";
          background-color: white;
          width: 35%;
          top: 0.5vw;
          height: 1px;
          left: -1.5vw;
          @media all and (max-width: 1024px) {
            width: 23%;
            top: 2vw;
            left: -1.5vw;
          }
        }
        &::after {
          position: absolute;
          content: "";
          background-color: white;
          width: 35%;
          top: 0.5vw;
          height: 1px;
          right: -1.5vw;

          @media all and (max-width: 1024px) {
            width: 23%;
            top: 2vw;
            right: -1.5vw;
          }
        }
      }
    }
  }

  .page-container {
    position: relative;
    padding-top: 6vw;
    display: flex;
    flex-direction: column;
    @media all and (max-width: 1024px) {
      padding-top: 3vw;
    }
    .left-nav-box {
      position: absolute;
      left: 5vw;
      top: 7vw;
      font-family: "Noto Serif TC";
      letter-spacing: 0.25em;
      font-size: $font-20;
      text-align: center;
      display: flex;
      flex-direction: column;
      font-weight: 600;
      z-index: 30;

      @media all and (max-width: 1024px) {
        position: relative;
        top: initial;
        left: initial;
        font-size: 4.3vw;
        flex-direction: row;
        margin-top: 6vw;
        margin-bottom: 10vw;
        align-self: center;
      }

      &:first-child {
        border-top: 1px solid #e2e2e2;
        @media all and (max-width: 1024px) {
          border-top: none;
          border-left: 1px solid #bcbcbc;
        }
      }
      .nav {
        padding: 0.8vw 0.5vw;
        border-bottom: 1px solid #e2e2e2;
        @media all and (max-width: 1024px) {
          border-bottom: none;
          padding: 1.5vw 3vw;
          border-right: 1px solid #bcbcbc;
        }
      }
      a {
        color: #ad8e5c;
      }
      .nav-active {
        color: #3b3b3b !important;
        background-color: #ffffff;
      }
    }

    .card1 {
      display: flex;
      position: relative;
      flex-direction: column;
      @media all and (max-width: 1024px) {
        padding-bottom: 6vw;
      }
      .title-box {
        display: flex;
        flex-direction: column;
        position: relative;
        align-self: center;
        margin-bottom: 2vw;
        @media all and (max-width: 1024px) {
          margin-bottom: 6vw;
        }
        .icon {
          @include pageContentTitleIcon();
          top: -0.8vw;
          left: -2.5vw;
        }
        .zh {
          @include pageContentZHTitle();
          color: #3b3b3b;
        }
        .en {
          @include pageContentENTitle();
          color: #b2b2b2;
          @media all and (max-width: 1024px) {
            margin-left: -1.5vw;
          }
        }
      }

      .content-box {
        @include pageContent();
        @media all and (max-width: 1024px) {
          display: none;
        }
      }

      .content-mobile {
        display: none;
        @include pageContent();
        @media all and (max-width: 1024px) {
          display: flex;
        }
      }

      .img-box {
        display: flex;
        flex-direction: column;
        margin-top: 3vw;
        align-self: center;
        width: 45vw;
        @media all and (max-width: 1024px) {
          width: 85vw;
          margin-top: 7vw;
        }
        img {
          width: 100%;
        }
      }

      .left-item1 {
        position: absolute;
        width: 15vw;
        left: 0px;
        bottom: 0px;
        @media all and (max-width: 1024px) {
          width: 22vw;
          bottom: -2vw;
        }
      }

      .left-item2 {
        position: absolute;
        width: 5vw;
        left: 17vw;
        top: 15vw;
        @media all and (max-width: 1024px) {
          width: 11vw;
          right: 8vw;
          left: initial;
          top: 2vw;
        }
      }

      .left-item3 {
        position: absolute;
        width: 2.7vw;
        right: 11vw;
        top: 4vw;
        @media all and (max-width: 1024px) {
          display: none;
        }
      }
    }

    .card2 {
      display: flex;
      flex-direction: column;
      margin-top: 4vw;
      padding: 3.5vw;
      background-image: url(../images/index/c3_bg.png);
      background-repeat: no-repeat;
      background-size: cover;
      padding-bottom: 4vw;

      @media all and (max-width: 1024px) {
        padding: 0vw;
        padding-top: 10vw;
        padding-bottom: 10vw;
      }
      .title-box {
        display: flex;
        flex-direction: column;
        position: relative;
        align-self: center;
        margin-bottom: 2vw;
        @media all and (max-width: 1024px) {
          margin-bottom: 8vw;
        }
        .icon {
          @include pageContentTitleIcon();
          top: -0.2vw;
          left: -3vw;
          @media all and (max-width: 1024px) {
            width: 7.5vw;
            top: -1.3vw;
            left: -11vw;
          }
        }
        .icon-2 {
          position: absolute;
          top: 1vw;
          right: -1.7vw;
          width: 1.5vw;
          @media all and (max-width: 1024px) {
            top: 5vw;
            right: -6.7vw;
            width: 5.5vw;
          }
        }
        .zh {
          @include pageContentZHTitle();
        }
        .en {
          @include pageContentENTitle();
        }
      }

      .content-box {
        display: flex;
        justify-content: center;
        position: relative;
        .honor-swiper {
          width: 83%;
          position: relative;
          @media all and (max-width: 1024px) {
            width: 88%;
          }
          .swiper-slide {
            width: 100%;
            img {
              width: 100%;
            }
          }
        }
        .swiper-prev {
          position: absolute;
          left: 4vw;
          top: 5.5vw;
          cursor: pointer;
          padding: 1vw;
          @media all and (max-width: 1024px) {
            z-index: 30;
            left: 10vw;
            top: 22.5vw;
          }

          @media all and (max-width: 1024px) {
            top: 26.5vw;
          }

          img {
            width: 0.8vw;
            @media all and (max-width: 1024px) {
              width: 2.8vw;
            }

            @media all and (max-width: 500px) {
              width: 3vw;
            }
          }
        }
        .swiper-next {
          right: 4vw;
          top: 5.5vw;
          padding: 1vw;
          position: absolute;
          cursor: pointer;
          @media all and (max-width: 1024px) {
            z-index: 30;
            right: 10vw;
            top: 22.5vw;
          }

          @media all and (max-width: 500px) {
            top: 26.5vw;
          }
          img {
            width: 0.8vw;
            @media all and (max-width: 1024px) {
              width: 2.8vw;
            }

            @media all and (max-width: 500px) {
              width: 3vw;
            }
          }
        }

        .swiper-pagination-horizontal {
          bottom: -2vw;
          @media all and (max-width: 1024px) {
            display: none;
          }
          .swiper-pagination-bullet {
            background: white;
            opacity: 1;
            margin-right: 0.35vw;
            box-shadow: 0 0 0.25em rgba(133, 133, 133, 0.781);
            @media all and (max-width: 1440px) {
              width: 0.4vw;
              height: 0.4vw;
              margin-right: 0.5vw;
            }
          }
          .swiper-pagination-bullet-active {
            transform: scale(1.2);
            margin-top: 1vw;
            @media all and (max-width: 1440px) {
              transform: scale(1.4);
            }
          }
        }
      }
    }

    .card3 {
      display: flex;
      flex-direction: column;
      margin-top: 5vw;
      padding-bottom: 5vw;
      background-image: url(../images/about/c3_bg.png);
      background-size: 100%;
      background-position: bottom;
      background-repeat: no-repeat;
      @media all and (max-width: 1024px) {
        padding-top: 4vw;
        padding-bottom: 10vw;
      }

      .title-box {
        display: flex;
        flex-direction: column;
        position: relative;
        align-self: center;
        margin-bottom: 2vw;

        @media all and (max-width: 1024px) {
          margin-bottom: 5vw;
        }
        .icon {
          @include pageContentTitleIcon();
        }
        .zh {
          @include pageContentZHTitle();
        }
        .en {
          @include pageContentENTitle();
        }
      }

      .content-box {
        @include pageContent();
        @media all and (max-width: 1024px) {
          display: none;
        }
      }

      .content-mobile {
        display: none;
        @include pageContent();
        @media all and (max-width: 1024px) {
          display: flex;
        }
      }

      .img-box {
        display: flex;
        flex-direction: column;
        margin-top: 1vw;
        align-self: center;
        width: 45vw;
        @media all and (max-width: 1024px) {
          width: 88%;
          margin-top: 6vw;
        }
        img {
          width: 100%;
        }
      }
    }

    .card4 {
      display: flex;
      flex-direction: column;
      margin-top: 5vw;
      margin-bottom: 10vw;
      @media all and (max-width: 1024px) {
        margin-top: 9vw;
        margin-bottom: 0vw;
      }
      .title-box {
        display: flex;
        flex-direction: column;
        position: relative;
        align-self: center;
        margin-bottom: 1vw;
        .icon {
          @include pageContentTitleIcon();
          left: initial;
          right: -2vw;
          top: 0.5vw;
          @media all and (max-width: 1024px) {
            right: -8vw;
            left: initial;
            top: 1vw;
          }
        }
        .zh {
          @include pageContentZHTitle();
        }
        .en {
          @include pageContentENTitle();
        }
      }
      .bottom-box {
        display: flex;
        justify-content: center;
        @media all and (max-width: 1024px) {
          flex-direction: column-reverse;
        }
        .left-box {
          display: flex;
          position: relative;
          @media all and (max-width: 1024px) {
            flex-direction: column;
          }
          .left-frame {
            position: absolute;
            bottom: 0.7vw;
            left: 0px;
            width: 12vw;
          }
          .img-box {
            display: flex;
            width: 31vw;
            flex-direction: column;
            @media all and (max-width: 1024px) {
              display: none;
            }
            img {
              width: 100%;
            }
          }
          .mobile-img-box {
            display: none;
            @media all and (max-width: 1024px) {
              display: flex;
              justify-content: center;
              align-self: center;
              margin-top: 5vw;
              width: 88%;
            }
            img {
              width: 100%;
            }
          }
        }
        .right-box {
          margin-left: 4vw;
          padding-top: 3vw;
          position: relative;
          @media all and (max-width: 1024px) {
            margin-left: 0vw;
            display: flex;
            padding-top: 5vw;
            justify-content: center;
            flex-direction: column;
          }
          .right-frame {
            position: absolute;
            bottom: 0.5vw;
            right: -2vw;
            width: 25vw;
            @media all and (max-width: 1024px) {
              display: none;
            }
          }
          .content-box {
            display: flex;
            @include pageContent();
            text-align: left;
            margin-bottom: 2vw;
            @media all and (max-width: 1024px) {
              display: none;
            }
          }

          .content-mobile {
            display: none;
            @include pageContent();
            @media all and (max-width: 1024px) {
              display: flex;
              margin-bottom: 3vw;
            }
          }
        }
      }
    }

    .top-btn {
      position: absolute;
      bottom: 4vw;
      right: 7vw;
      width: 3vw;
      cursor: pointer;
      transition: 0.4s ease-in-out;
      &:hover {
        transform: scale(1.1);
        @media all and (max-width: 1024px) {
          transform: inherit;
        }
      }

      img {
        width: 100%;
      }
      @media all and (max-width: 1024px) {
        width: 17vw;
        margin-top: 15vw;
        position: initial;
        bottom: initial;
        right: initial;
        margin-bottom: 9vw;
        align-self: center;
        display: flex;
        justify-content: center;
      }
    }
  }
}
