.events-history-body {
  display: flex;
  width: 100%;
  position: relative;
  flex-direction: column;
  background-image: url(../images/bg.webp);
  background-size: contain;

  .top-banner-box {
    padding-top: 3vw;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    height: 30vw;
    @media all and (max-width: 1024px) {
      height: initial;
    }
    .top-banner {
      width: 100%;
      @media all and (max-width: 1024px) {
        margin-top: -10vw;
      }
      @media all and (max-width: 500px) {
        margin-top: -8vw;
      }
    }

    .item1 {
      position: absolute;
      width: 50vw;
      left: 8vw;
      top: 1.5vw;
      @media all and (max-width: 1024px) {
        width: 119vw;
        left: -51vw;
        top: -7.5vw;
      }
      @media all and (max-width: 500px) {
        top: -4.5vw;
      }
    }

    .item2 {
      position: absolute;
      width: 9vw;
      right: 0vw;
      top: 7vw;
      @media all and (max-width: 1024px) {
        display: none;
      }
    }
    .frame {
      width: 32vw;
      position: absolute;
      top: 56%;
      left: 50%;
      transform: translate(-50%, -50%);

      @media all and (max-width: 1024px) {
        width: 80vw;
        top: 59.5%;
      }
    }
    .main-title-box {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 52%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      text-align: center;
      @media all and (max-width: 1024px) {
        top: 55%;
      }
      @media all and (max-width: 500px) {
        top: 56%;
      }
      .main-title-zh {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        margin-top: 2vw;
        margin-bottom: 0.5vw;
        @include bannerZHTitle();
        @media all and (max-width: 1024px) {
          margin-top: 3vw;
        }
      }

      .main-title-en {
        position: relative;
        @include bannerENTitle();
        text-align: center;
        &::before {
          position: absolute;
          content: "";
          background-color: white;
          width: 35%;
          top: 0.5vw;
          height: 1px;
          left: -1.5vw;
          @media all and (max-width: 1024px) {
            width: 23%;
            top: 2vw;
            left: -1.5vw;
          }
        }
        &::after {
          position: absolute;
          content: "";
          background-color: white;
          width: 35%;
          top: 0.5vw;
          height: 1px;
          right: -1.5vw;
          @media all and (max-width: 1024px) {
            width: 23%;
            top: 2vw;
            right: -1.5vw;
          }
        }
      }
    }
  }

  .page-container {
    position: relative;
    padding-top: 6vw;
    display: flex;
    flex-direction: column;
    padding-bottom: 15vw;
    @media all and (max-width: 1024px) {
      padding-bottom: 0vw;
    }

    .bg-item-mobile {
      position: absolute;
      display: none;
      @media all and (max-width: 1024px) {
        display: block;
        width: 14vw;
        right: 8vw;
        top: 34.5vw;
      }
    }

    .left-nav-box {
      position: absolute;
      left: 5vw;
      top: 7vw;
      font-family: "Noto Serif TC";
      letter-spacing: 0.25em;
      font-size: $font-20;
      text-align: center;
      display: flex;
      flex-direction: column;
      font-weight: 600;
      z-index: 30;

      @media all and (max-width: 1024px) {
        position: relative;
        top: initial;
        left: initial;
        font-size: 4.3vw;
        flex-direction: row;
        margin-top: 6vw;
        margin-bottom: 10vw;
        align-self: center;
      }

      &:first-child {
        border-top: 1px solid #e2e2e2;
        @media all and (max-width: 1024px) {
          border-top: none;
          border-left: 1px solid #bcbcbc;
        }
      }
      .nav {
        padding: 0.8vw 0.5vw;
        border-bottom: 1px solid #e2e2e2;
        @media all and (max-width: 1024px) {
          border-bottom: none;
          padding: 1.5vw 3vw;
          border-right: 1px solid #bcbcbc;
        }
      }
      a {
        color: #ad8e5c;
      }
      .nav-active {
        color: #3b3b3b !important;
        background-color: #ffffff;
      }
    }

    .title-box {
      display: flex;
      flex-direction: column;
      position: relative;
      align-self: center;
      margin-bottom: 3vw;

      @media all and (max-width: 1024px) {
        margin-bottom: 8vw;
      }

      .icon {
        @include pageContentTitleIcon();
        top: -0.8vw;
        left: -2.5vw;
      }
      .zh {
        @include pageContentZHTitle();
      }
      .en {
        @include pageContentENTitle();
      }
    }

    .item-box {
      display: flex;
      justify-content: space-between;
      width: 53%;
      margin: 0 auto;
      margin-top: -0.45vw;
      @media all and (max-width: 1920px) {
        margin-top: -0.55vw;
      }
      @media all and (max-width: 1440px) {
        margin-top: -0.7vw;
      }
      @media all and (max-width: 1024px) {
        flex-direction: column;
        width: 88%;
        margin-bottom: 13vw;
      }
      &:nth-child(even) {
        flex-direction: row-reverse;
        margin-top: -0.45vw;
        @media all and (max-width: 1920px) {
          margin-top: -0.55vw;
        }
        @media all and (max-width: 1440px) {
          margin-top: -0.7vw;
        }
        @media all and (max-width: 1024px) {
          flex-direction: column;
        }
        .right-box {
          .img-bg {
            transform: rotateY(180deg);
          }
          .main-img {
            left: 0.5vw;
            @media all and (max-width: 1024px) {
              width: 85.5vw;
              left: 1.4vw;
              top: 1.3vw;
            }
          }
        }
      }

      &:last-child {
        @media all and (max-width: 1920px) {
          margin-top: -0.5vw;
        }
        @media all and (max-width: 1440px) {
          margin-top: -0.6vw;
        }
        .right-box {
          width: 48%;
          @media all and (max-width: 1024px) {
            width: 100%;
          }
          .last-frame {
            // width: 91%;
            @media all and (max-width: 1024px) {
              width: 100%;
            }
          }
          .main-img {
            width: 96.5%;
            left: 0.455vw;
            top: 0.4vw;

            @media all and (max-width: 1024px) {
              width: 85.5vw;
              left: 1.4vw;
              top: 1.3vw;
            }
          }
        }
      }

      .left-box {
        display: flex;
        flex-direction: column;
        width: 45%;
        margin-top: -3vw;
        justify-content: center;

        @media all and (max-width: 1024px) {
          width: 100%;
        }

        .year-box {
          display: flex;
          justify-content: center;
          .year {
            color: #f9c88f;
            font-family: "Jost";
            font-size: 4vw;
            @media all and (max-width: 1024px) {
              font-size: 10vw;
            }
          }
          .text {
            color: #ddb57c;
            font-family: "Jost";
            font-size: 1vw;
            letter-spacing: 0.05em;
            align-self: flex-end;
            margin-bottom: 1.2vw;
            margin-left: 0.5vw;
            @media all and (max-width: 1024px) {
              font-size: 3.2vw;
              margin-bottom: 2.6vw;
              margin-left: 1vw;
              letter-spacing: 0.08em;
            }
          }
        }

        .content-box {
          display: flex;
          flex-direction: column;

          .content {
            display: flex;

            .icon {
              width: 0.5vw;
              margin-top: 0.65vw;
              align-self: flex-start;
              @media all and (max-width: 1024px) {
                width: 1.5vw;
                margin-top: 3.65vw;
              }
            }

            div {
              font-family: "Noto Serif TC";
              color: #3b3b3b;
              font-weight: 500;
              font-size: $font-17;
              margin-left: 0.5vw;
              text-align: justify;
              letter-spacing: 0.15em;
              line-height: 2.3;

              @media all and (max-width: 1024px) {
                font-size: $content;
                margin-left: 2vw;
              }
            }
          }
        }
      }

      .right-box {
        display: flex;
        width: 53%;
        flex-direction: column;
        position: relative;
        @media all and (max-width: 1024px) {
          width: 100%;
          margin-top: 2vw;
        }

        .img-bg {
          width: 100%;
        }

        .main-img {
          position: absolute;
          width: 87%;
          left: 3.2vw;
          top: 0.4vw;
          @media all and (max-width: 1024px) {
            width: 97%;
            left: 1.3vw;
            top: 1.26vw;
          }
        }

        .img-swiper {
          position: absolute;
          width: 100%;
          height: 16vw;
          @media all and (max-width: 1024px) {
            height: 54vw;
          }
          .swiper-pagination-horizontal {
            left: 1.5vw;
            bottom: 0.3vw;
            z-index: 10;
            @media all and (max-width: 1024px) {
              bottom: 1.5vw;
            }
            .swiper-pagination-bullet {
              background: white;
              opacity: 0.6;
              margin: 0.25vw;
              box-shadow: 0 0 0.25em rgba(133, 133, 133, 0.781);
              @media all and (max-width: 1024px) {
                width: 1vw;
                height: 1vw;
                margin: 1vw;
                opacity: 1;
              }
            }
            .swiper-pagination-bullet-active {
              opacity: 1;
              @media all and (max-width: 1024px) {
                transform: scale(1.8);
              }
            }
          }
        }
      }
    }

    .bg-item1 {
      position: absolute;
      top: 8vw;
      width: 2vw;
      right: 20vw;
      @media all and (max-width: 1024px) {
        display: none;
      }
    }

    .bg1 {
      position: absolute;
      top: 47vw;
      width: 16vw;
      left: 0vw;
      @media all and (max-width: 1024px) {
        display: none;
      }
    }

    .bg2 {
      position: absolute;
      top: 120vw;
      width: 5vw;
      right: 0vw;
      @media all and (max-width: 1024px) {
        display: none;
      }
    }

    .bg3 {
      position: absolute;
      top: 190vw;
      width: 16vw;
      left: 0vw;
      @media all and (max-width: 1024px) {
        display: none;
      }
    }

    .bg4 {
      position: absolute;
      top: 250vw;
      width: 15vw;
      right: 0vw;
      @media all and (max-width: 1024px) {
        display: none;
      }
    }

    .bg5 {
      position: absolute;
      bottom: 5vw;
      width: 5vw;
      left: 40vw;
      @media all and (max-width: 1024px) {
        display: none;
      }
    }

    .top-btn {
      position: absolute;
      bottom: 4vw;
      right: 7vw;
      width: 3vw;
      cursor: pointer;

      @media all and (max-width: 1024px) {
        width: 13vw;
        margin-top: 3vw;
        position: initial;
        bottom: initial;
        right: initial;
        margin-bottom: 9vw;
        align-self: center;
        display: flex;
        justify-content: center;
      }
    }
  }
}
