.news-content-body {
  display: flex;
  width: 100%;
  position: relative;
  flex-direction: column;
  background-image: url(../images/bg.webp);
  background-size: contain;

  .news-container {
    display: flex;
    width: 100%;
    justify-content: center;

    .page-container {
      display: flex;
      width: 55%;
      flex-direction: column;
      padding-top: 8vw;
      position: relative;
      padding-bottom: 5vw;
      @media all and (max-width: 1024px) {
        padding-top: 17vw;
        width: 88%;
      }
      .sort-box {
        display: flex;
        margin-bottom: 1vw;
        .sort {
          background-color: #d1a371;
          font-family: "Noto Serif TC";
          font-weight: 600;
          letter-spacing: 0.2em;
          font-size: $font-18;
          color: white;
          border-radius: 0.25vw;
          padding: 0.3vw;
          padding-left: 0.6vw;
          padding-bottom: 0.35vw;
          @media all and (max-width: 1024px) {
            font-size: 3.3vw;
            padding: 1.8vw;
            padding-bottom: 2vw;
            padding-left: 3vw;
            padding-right: 2.9vw;
            border-radius: 1.2vw;
            font-weight: initial;
            margin-bottom: 3vw;
          }
        }
      }

      .title {
        font-family: "Noto Serif TC";
        color: #3b3b3b;
        letter-spacing: 0.15em;
        font-weight: bold;
        font-size: $font-28;
        margin-bottom: 3vw;
        @media all and (max-width: 1024px) {
          font-size: 4.25vw;
          letter-spacing: 0.25em;
          margin-bottom: 6vw;
          line-height: 1.7;
        }
      }

      .main-img-box {
        display: flex;
        width: 100%;
        @media all and (max-width: 1024px) {
          // width: 88%;
          overflow: hidden;
        }

        img {
          width: 50vw;
          @media all and (max-width: 1024px) {
            width: 88vw;
          }
        }
      }

      .content-box {
        display: flex;
        width: 100%;
        margin-top: 3vw;
        padding-bottom: 10vw;
        @media all and (max-width: 1024px) {
          flex-direction: column;
          padding-bottom: 20vw;
        }
        .left-box {
          display: flex;
          flex-direction: column;
          width: 30%;
          @media all and (max-width: 1024px) {
            width: 100%;
          }
          .date-box {
            display: flex;
            margin-bottom: 1vw;
            @media all and (max-width: 1024px) {
              padding-bottom: 3vw;
              border-bottom: 1px solid #b2b2b2;
            }
            .date-title {
              font-family: "Noto Serif TC";
              color: #3b3b3b;
              letter-spacing: 0.15em;
              font-size: $font-14;
              font-weight: 500;
              align-self: center;
              margin-right: 0.7vw;
              @media all and (max-width: 1024px) {
                font-size: $content;
                margin-right: 3vw;
              }
            }
            .date {
              font-family: "Jost";
              font-size: $font-18;
              color: #b2b2b2;
              align-self: center;
              letter-spacing: 0.15em;
              @media all and (max-width: 1024px) {
                font-size: 4.1vw;
                margin-bottom: -0.5vw;
              }
            }
          }

          .link-box {
            display: flex;
            width: 100%;
            @media all and (max-width: 1024px) {
              padding-top: 2.5vw;
              padding-bottom: 2.5vw;
              border-bottom: 1px solid #b2b2b2;
            }
            .link-icon {
              margin-right: 0.5vw;
              // margin-top: 0.3vw;
              align-self: center;
              @media all and (max-width: 1024px) {
                margin-right: 3vw;
              }
              img {
                width: 1vw;
                @media all and (max-width: 1024px) {
                  width: 5.5vw;
                }
              }
            }

            .link {
              color: #ad8e5c;
              letter-spacing: 0.15em;
              font-family: "Jost", "Noto Serif TC"; /* 預設為中文字體 */
              font-size: $font-18;
              padding-bottom: 0.2vw;
              font-weight: 500;
              display: flex;
              align-self: center;
              position: relative;
              word-break: break-all;
              flex-wrap: wrap;
              transition: 0.2s ease-in-out;
              display: flex;
              @media all and (max-width: 1024px) {
                font-size: 3.8vw;
                width: 100%;
              }
              &::after {
                position: absolute;
                content: "";
                background-color: #ad8e5c;
                width: 100%;
                height: 1px;
                bottom: 0px;
                left: 0px;
                @media all and (max-width: 1024px) {
                  display: none;
                }
              }

              &:hover {
                color: #3b3b3b;
                &::after {
                  background-color: #3b3b3b;
                }
              }
            }
          }
        }
        .right-box {
          width: 70%;
          font-family: "Noto Serif TC";
          color: #3b3b3b;
          font-weight: 600;
          font-size: $font-20;
          letter-spacing: 0.15em;
          line-height: 2;
          margin-left: 2vw;
          @media all and (max-width: 1024px) {
            margin-left: 0vw;
            padding-top: 5vw;
            width: 100%;
            font-size: $content;
          }
        }
      }

      .about-article-box {
        display: flex;
        flex-direction: column;

        .about-title {
          color: #3b3b3b;
          font-size: $font-28;
          letter-spacing: 0.15em;
          font-weight: 600;
          font-family: "Noto Serif TC";
          padding-bottom: 1vw;
          margin-bottom: 3vw;
          border-bottom: 1px solid #b2b2b2;
          @media all and (max-width: 1024px) {
            font-size: $zh-title;
            padding-bottom: 3vw;
            margin-bottom: 7vw;
          }
        }

        .article-box {
          display: flex;
          width: 100%;
          justify-content: space-between;
          @media all and (max-width: 1024px) {
            flex-direction: column;
          }
          .item {
            display: flex;
            flex-direction: column;
            width: 17.5vw;
            @media all and (max-width: 1024px) {
              flex-direction: row;
              margin-bottom: 5vw;
              justify-content: space-between;
              width: 100%;
            }
            .img-box {
              display: flex;
              flex-direction: column;
              align-self: center;
              width: 100%;
              overflow: hidden;
              border-radius: 1.3vw;
              @media all and (max-width: 1024px) {
                width: 47%;
              }
              img {
                width: 100%;
                transition: 0.8s ease-in-out;
              }
            }

            .bottom-content {
              @media all and (max-width: 1024px) {
                display: flex;
                width: 52%;
                padding-left: 3vw;
                flex-direction: column;
                justify-content: space-evenly;
              }
              .title {
                font-size: $font-22;
                text-align: justify;
                margin-top: 1vw;
                line-height: 2;
                margin-bottom: 1vw;
                transition: 0.8s ease-in-out;
                @media all and (max-width: 1024px) {
                  font-size: $content;
                  letter-spacing: 0.1em;
                  font-weight: 500;
                  margin-top: 0vw;
                  margin-bottom: 0vw;
                }
              }

              .date {
                color: #b2b2b2;
                font-size: $font-18;
                font-weight: 500;
                letter-spacing: 0.2em;
                @media all and (max-width: 1024px) {
                  font-size: 4.1vw;
                }
              }
            }

            &:hover {
              .title {
                color: #93725c;
              }

              .img-box {
                img {
                  transform: scale(1.1);
                }
              }
            }
          }
        }
      }

      .back-btn {
        display: flex;
        justify-content: center;
        align-self: center;
        width: 3vw;
        margin-top: 5vw;
        cursor: pointer;
        transition: 0.4s ease-in-out;
        &:hover {
          transform: scale(1.1);
          @media all and (max-width: 1024px) {
            transform: inherit;
          }
        }
        img {
          width: 100%;
        }

        @media all and (max-width: 1024px) {
          width: 17vw;
          margin-top: 15vw;
          position: initial;
          bottom: initial;
          right: initial;
          margin-bottom: 9vw;
          align-self: center;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
