.projects-teaching-culture-body {
  display: flex;
  width: 100%;
  position: relative;
  flex-direction: column;
  background-image: url(../images/bg.webp);
  background-size: contain;

  .top-banner-box {
    padding-top: 4vw;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 3vw;
    overflow: hidden;
    height: 29.8vw;
    @media all and (max-width: 1024px) {
      overflow: hidden;
      height: 56.5vw;
    }
    @media all and (max-width: 500px) {
      height: 59vw;
    }

    .top-banner {
      width: 100%;
      @media all and (max-width: 1024px) {
        margin-top: -10vw;
      }
      @media all and (max-width: 500px) {
        margin-top: -7vw;
      }
    }

    .item1 {
      position: absolute;
      left: 30vw;
      bottom: 0vw;
      width: 38vw;
      @media all and (max-width: 1024px) {
        left: -10vw;
        bottom: -3.5vw;
        width: 89vw;
      }
    }

    .item2 {
      position: absolute;
      right: 19vw;
      top: 9vw;
      width: 5vw;
      @media all and (max-width: 1024px) {
        right: 16vw;
        top: 23vw;
        width: 11vw;
      }
    }

    .frame {
      width: 32vw;
      position: absolute;
      top: 56%;
      left: 50%;
      transform: translate(-50%, -50%) scaleX(-1);
      @media all and (max-width: 1024px) {
        width: 80vw;
        top: 58%;
      }

      @media all and (max-width: 500px) {
        top: 61%;
      }
    }

    .main-title-box {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 52%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      text-align: center;
      @media all and (max-width: 1024px) {
        top: 55%;
      }
      @media all and (max-width: 500px) {
        top: 58%;
      }
      .main-title-zh {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        margin-top: 2vw;
        margin-bottom: 0.5vw;
        @include bannerZHTitle();
        position: relative;
        @media all and (max-width: 1024px) {
          margin-left: -3vw;
        }
        &::after {
          position: absolute;
          content: "+";
          top: 0vw;
          height: 1px;
          right: -1.8vw;
          @media all and (max-width: 1024px) {
            right: -5vw;
          }
        }
      }

      .main-title-en {
        position: relative;
        @include bannerENTitle();
        text-align: center;
        &::before {
          position: absolute;
          content: "";
          background-color: white;
          width: 35%;
          top: 0.5vw;
          height: 1px;
          left: -2.5vw;
          @media all and (max-width: 1024px) {
            width: 22%;
            top: 2vw;
            left: -5vw;
          }
        }
        &::after {
          position: absolute;
          content: "";
          background-color: white;
          width: 35%;
          top: 0.5vw;
          height: 1px;
          right: -2.5vw;
          @media all and (max-width: 1024px) {
            width: 22%;
            top: 2vw;
            right: -4.8vw;
          }
        }
      }
    }
  }

  .page-container {
    display: flex;
    position: relative;
    padding-top: 5vw;
    width: 100%;
    justify-content: center;
    padding-bottom: 11vw;
    @media all and (max-width: 1024px) {
      flex-direction: column;
    }

    .left-nav-box {
      position: absolute;
      left: 7vw;
      top: 6vw;
      font-family: "Noto Serif TC";
      letter-spacing: 0.25em;
      font-size: $font-20;
      text-align: center;
      display: flex;
      flex-direction: column;
      font-weight: 600;
      @media all and (max-width: 1024px) {
        position: relative;
        top: initial;
        left: initial;
        font-size: 4.3vw;
        flex-direction: row;
        margin-top: 6vw;
        margin-bottom: 10vw;
        align-self: center;
      }

      &:first-child {
        border-top: 1px solid #e2e2e2;
        @media all and (max-width: 1024px) {
          border-top: none;
          border-left: 1px solid #bcbcbc;
        }
      }
      .nav {
        padding: 0.8vw 0.5vw;
        border-bottom: 1px solid #e2e2e2;
        @media all and (max-width: 1024px) {
          border-bottom: none;
          padding: 1vw 3vw;
          border-right: 1px solid #bcbcbc;
        }
      }

      a {
        color: #ad8e5c;
      }
      .nav-active {
        color: #3b3b3b !important;
        background-color: #ffffff;
      }
    }

    .content-box {
      display: flex;
      flex-direction: column;
      margin: 0 auto;

      .item-box {
        display: flex;
        width: 62%;
        padding-bottom: 3vw;
        margin-bottom: 3vw;
        align-self: center;
        border-bottom: 2px solid #ddb57c;
        justify-content: space-between;
        @media all and (max-width: 1024px) {
          flex-direction: column-reverse;
          width: 88%;
          border-bottom: none;
          margin-bottom: 9vw;
        }
        &:nth-child(even) {
          flex-direction: row-reverse;
          @media all and (max-width: 1024px) {
            flex-direction: column-reverse;
          }
        }
        &:hover {
          .right-box {
            img {
              transform: scale(1.1);
            }
          }
        }
        .left-box {
          display: flex;
          width: 43%;
          justify-content: center;
          flex-direction: column;
          @media all and (max-width: 1024px) {
            width: 100%;
          }
          .date {
            color: #b2b2b2;
            font-family: "Jost";
            font-size: $font-18;
            letter-spacing: 0.25em;
            margin-bottom: 1vw;
            @media all and (max-width: 1024px) {
              font-size: 3.5vw;
              margin-bottom: 2vw;
            }
          }
          .title {
            color: #aa7744;
            font-family: "Noto Serif TC";
            font-size: $font-24;
            font-weight: 600;
            margin-bottom: 2vw;
            letter-spacing: 0.15em;
            @media all and (max-width: 1024px) {
              font-size: 4.3vw;
            }
          }
          .content {
            @include pageContent();
            text-align: justify;

            width: 87%;
            max-width: 87%;
            // overflow: hidden;
            // text-overflow: ellipsis;
            // white-space: nowrap;

            @media all and (max-width: 1024px) {
              width: 100%;
              max-width: 100%;
            }
          }
        }
        .right-box {
          display: flex;
          width: 50%;
          flex-direction: column;
          overflow: hidden;
          border-radius: 1.3vw;
          position: relative;
          @media all and (max-width: 1024px) {
            width: 100%;
            margin-bottom: 5vw;
          }
          img {
            width: 100%;
            transition: 0.8s ease-in-out;
          }

          .arrow {
            width: 2vw;
            position: absolute;
            right: 1vw;
            bottom: 1vw;
            @media all and (max-width: 1024px) {
              width: 8vw;
              right: 3vw;
              bottom: 3vw;
            }
          }
        }
      }
    }
    .pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0vw;
      display: none;
      @media all and (max-width: 1024px) {
        display: block;
      }
      button {
        padding: 0.3vw 0.6vw;
        border: none;
        color: #3b3b3b;
        font-weight: bold;
        font-size: $font-20;
        background: none;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.4s ease-in-out;
        @media all and (max-width: 1024px) {
          font-size: 3.8vw;
          padding: 0.5vw 1.6vw;
        }
      }
    }

    .pagination #page-numbers button {
      &:hover {
        background-color: #ffc8007a;
        color: #3b3b3b;
      }
    }
    .pagination .active {
      background-color: #ffc8007a;
      color: #3b3b3b;
    }
    .top-btn {
      position: absolute;
      bottom: 4vw;
      right: 7vw;
      width: 3vw;
      cursor: pointer;
      transition: 0.4s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }

      @media all and (max-width: 1024px) {
        width: 13vw;
        margin-top: 12vw;
        position: initial;
        bottom: initial;
        right: initial;
        align-self: center;
        display: flex;
        justify-content: center;
      }
    }
  }
}
