//30pt
$font-30: 1.5vw;

//28pt
$font-28: 1.4vw;

//24pt
$font-24: 1.2vw;

//22pt
$font-22: 1.05vw;

//20pt
$font-20: 0.95vw;

//18pt
$font-18: 0.85vw;

//17pt
$font-17: 0.8vw;

//14pt
$font-14: 0.65vw;

//手機版
$zh-title: 5vw;

$en-title: 3.8vw;

$content: 3.75vw;
